#logo {
    width: 272px;
    height: 92px;
    margin: 0 auto;
    position: relative;
    top: 200px;
}

#search {
    width: 500px;
    height: 40px;
    margin-top: 10%;
    position: absolute;
    left: -40%;
    border-radius: 15px;
    border: 1px solid rgba(192,192,192, 0.5);

}

#search :hover {
    box-shadow: 20px 20px 20px 20px rgba(192,192,192, 0.5);
}